html{
    background-color: rgb(246, 224, 208);
}
h2{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
}
.container{
    background: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30em 0 30em;
    border-radius: 7px;

}
.container div{
    display: flex;
    align-items: center;
}
form{
    font-family: 'Courier New', Courier, monospace;
    padding: 8px;
}
.dato{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 29em;
}
.submit:hover{
    cursor:pointer;
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
}
.submit{
    margin: 0 95px 0 145px;
    text-transform: uppercase;
    border-color: rgb(242, 242, 147);
    border-radius: 5px;
    font-size: 13px;
    width: 100px;
    height: 40px;
    background: rgb(95, 92, 197);
    color: rgb(254, 156, 86);
    
}